# Directories
.vscode/**
.vscode-test/**
.yarn/**/*
.yarnrc.yml
archived/

# Large Files to Ignore for Publishing
pnpm-lock.yaml

# Working Files
.editorconfig
.gitignore
*.code-workspace

# Personal & General Info Files
NOTES.md
QUICKSTART.md
